Code for article https://medium.com/@lu.battistoni/the-dangers-of-pandas-hidden-parameters-1e6a013345e0

In [2]:
import pandas as pd

In [15]:
# Sample time series data
data = {
    'timestamp': pd.date_range(start='2024-01-01', periods=5, freq='30min'),
    'value': [10, 20, 30, 40, 50]
}
df = pd.DataFrame(data)
df = df.set_index('timestamp')

df

                     value
timestamp
2024-01-01 00:00:00     10
2024-01-01 00:30:00     20
2024-01-01 01:00:00     30
2024-01-01 01:30:00     40
2024-01-01 02:00:00     50

In [16]:
# Resample to 1 hour intervals, without setting the label parameter
resampled_df = df.resample('1h').sum()
resampled_df

                     value
timestamp
2024-01-01 00:00:00     30
2024-01-01 01:00:00     70
2024-01-01 02:00:00     50

In [17]:
# Resample to 1 hour intervals, with label='right'
resampled_df = df.resample('1h', label='right').sum()
resampled_df

                     value
timestamp
2024-01-01 01:00:00     30
2024-01-01 02:00:00     70
2024-01-01 03:00:00     50

In [18]:
# Resample to 1 hour intervals, with closed='right'
resampled_df = df.resample('1h', label='right', closed='right').sum()
resampled_df

                     value
timestamp
2024-01-01 00:00:00     10
2024-01-01 01:00:00     50
2024-01-01 02:00:00     90